<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 136,  alt: ''}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 136, alt: ''}" [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="false" [asideMenuToggler]="false">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a routerLink="/dashboard" class="nav-link">My Classroom</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img *ngIf="user" [src]="user.picture" class="img-avatar" [alt]="user.email" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!-- <div class="dropdown-header text-center"><strong>Account</strong></div> -->
        <a class="dropdown-item" routerLink="/account-admin">
          <i class="fa fa-user-o"></i> Manage Account
        </a>
        <!-- 
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div> -->
        <div class="divider"></div>
        <a (click)="logout()" class="dropdown-item">
          <i class="fa fa-lock"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid pt-2">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<app-footer style="text-align: center; width: 100%;">
  <span style="text-align: center; width: 100%;">Powered by <a href="https://www.swifthouse.co.za">Swifthouse Web (Pty)
      Ltd</a></span>
</app-footer>